<div class="first-step">
  <div class="first-step__view">
    <twinkle-header>
      <a routerLink="/steps">Go home</a>
      <twinkle-step-title second>
        <p>Step 1. Choose your brightness</p>
      </twinkle-step-title>
      <twinkle-dark-mode-toggle third></twinkle-dark-mode-toggle>
    </twinkle-header>
    <div class="first-step__view__game">
      <div class="first-step__star scale">
        <div class="circle" id="circle"></div>
        <img src="/assets/images/star.svg" class="rotate" />
      </div>
      <twinkle-sidebar
        (newValue)="setNewValue($event)"
        [nextStepPath]="'/steps/second-step'"
      >
        <h2>Apparent magnitude</h2>
        <p>
          Apparent magnitude (m) is a measure of the brightness of a star or
          other astronomical object observed from Earth. An object's apparent
          magnitude depends on its intrinsic luminosity, its distance from
          Earth, and any extinction of the object's light caused by interstellar
          dust along the line of sight to the observer.
        </p>
        <a routerLink="/steps/second-step">
          <twinkle-button-link> Next step </twinkle-button-link>
        </a>
      </twinkle-sidebar>
    </div>
  </div>
</div>
