.sidebar {
  width: 36vw;
  height: 100vh;
  background-color: rgb(60, 35, 80);
  padding: 2vw;
  color: #fff;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__unit {
    text-align: right;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  &__content {
    margin-top: 2rem;
    font-family: 'Courier Prime', monospace;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  ::ng-deep {
    .ngx-slider-inner-tooltip {
      color: #fff;
    }
  }
}
